In [1]:
import pandas as pd

df1 = pd.read_csv('2020\January\yellow_tripdata_2020-01.csv',low_memory=False)
df1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.00,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.00,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.00,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.50,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.50,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.00,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.00,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.00,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.00,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.00,0.00,0.3,58.11,0.0

In [3]:
df5 = pd.read_csv('2020\May\yellow_tripdata_2020-05.csv',low_memory=False)
df5

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-05-01 00:02:28,2020-05-01 00:18:07,1.0,0.00,1.0,N,234,256,1.0,12.20,3.0,0.5,2.4,0.00,0.3,18.40,2.5
1,1.0,2020-05-01 00:23:21,2020-05-01 00:26:01,2.0,0.40,1.0,N,264,264,1.0,4.00,0.5,0.5,0.5,0.00,0.3,5.80,0.0
2,1.0,2020-05-01 00:54:58,2020-05-01 00:57:11,1.0,0.30,1.0,N,264,264,2.0,3.50,0.5,0.5,0.0,0.00,0.3,4.80,0.0
3,1.0,2020-05-01 00:07:10,2020-05-01 00:12:46,1.0,1.70,1.0,N,107,229,2.0,7.00,3.0,0.5,0.0,0.00,0.3,10.80,2.5
4,1.0,2020-05-01 00:55:47,2020-05-01 01:01:54,0.0,0.90,1.0,N,237,262,1.0,6.00,3.0,0.5,1.2,0.00,0.3,11.00,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348366,NaN,2020-05-31 04:07:00,2020-05-31 04:30:00,NaN,12.66,NaN,NaN,254,143,NaN,37.19,0.0,0.5,0.0,0.00,0.3,37.99,0.0
348367,NaN,2020-05-31 04:51:20,2020-05-31 05:17:18,NaN,19.61,NaN,NaN,10,244,NaN,48.98,0.0,0.5,0.0,0.00,0.3,49.78,0.0
348368,NaN,2020-05-31 04:50:00,2020-05-31 05:08:00,NaN,9.61,NaN,NaN,4,26,NaN,31.40,0.0,0.5,0.0,0.00,0.3,32.20,0.0
348369,NaN,2020-05-31 04:23:00,2020-05-31 04:39:00,NaN,10.17,NaN,NaN,137,135,NaN,32.53,0.0,0.5,0.0,6.12,0.3,39.45,0.0
348370,NaN,2020-05-31 04:56:54,2020-05-31 05:25:14,NaN,18.70,NaN,NaN,188,23,NaN,46.91,0.0,0.5,0.0,12.24,0.3,59.95,0.0

In [8]:
df2 = pd.read_csv('2020\February\yellow_tripdata_2020-02.csv',low_memory=False)
df2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,1.0,N,145,7,1.0,11.00,0.50,0.5,2.45,0.0,0.3,14.75,0.0
1,1.0,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,1.0,N,45,61,1.0,21.50,3.00,0.5,6.30,0.0,0.3,31.60,2.5
2,1.0,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,1.0,N,186,140,1.0,11.00,3.00,0.5,1.00,0.0,0.3,15.80,2.5
3,2.0,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,1.0,N,144,140,1.0,18.00,0.50,0.5,3.00,0.0,0.3,24.80,2.5
4,2.0,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,1.0,N,238,152,2.0,9.50,0.50,0.5,0.00,0.0,0.3,10.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299349,NaN,2020-02-28 14:28:00,2020-02-28 14:54:00,NaN,8.60,NaN,NaN,259,247,NaN,30.81,2.75,0.5,0.00,0.0,0.3,34.36,0.0
6299350,NaN,2020-02-28 14:03:00,2020-02-28 14:11:00,NaN,3.01,NaN,NaN,212,31,NaN,22.59,2.75,0.5,0.00,0.0,0.3,26.14,0.0
6299351,NaN,2020-02-28 14:55:00,2020-02-28 15:02:00,NaN,0.71,NaN,NaN,42,42,NaN,13.43,2.75,0.5,0.00,0.0,0.3,16.98,0.0
6299352,NaN,2020-02-28 14:29:00,2020-02-28 14:51:00,NaN,12.40,NaN,NaN,38,53,NaN,30.54,2.75,0.5,0.00,0.0,0.3,34.09,0.0
6299353,NaN,2020-02-28 14:06:00,2020-02-28 14:38:00,NaN,6.96,NaN,NaN,226,135,NaN,30.30,2.75,0.5,0.00,0.0,0.3,33.85,0.0

In [7]:
df3 = pd.read_csv('2020\March\yellow_tripdata_2020-03.csv',low_memory=False)
df3

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-03-01 00:31:13,2020-03-01 01:01:42,1.0,4.70,1.0,N,88,255,1.0,22.00,3.0,0.5,2.00,0.0,0.3,27.80,2.5
1,2.0,2020-03-01 00:08:22,2020-03-01 00:08:49,1.0,0.00,1.0,N,193,193,2.0,2.50,0.5,0.5,0.00,0.0,0.3,3.80,0.0
2,1.0,2020-03-01 00:52:18,2020-03-01 00:59:16,1.0,1.10,1.0,N,246,90,1.0,6.00,3.0,0.5,1.95,0.0,0.3,11.75,2.5
3,2.0,2020-03-01 00:47:53,2020-03-01 00:50:57,2.0,0.87,1.0,N,151,238,1.0,5.00,0.5,0.5,1.76,0.0,0.3,10.56,2.5
4,1.0,2020-03-01 00:43:19,2020-03-01 00:58:27,0.0,4.40,1.0,N,79,261,1.0,16.50,3.0,0.5,4.05,0.0,0.3,24.35,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007287,NaN,2020-03-31 23:21:00,2020-03-31 23:33:00,NaN,5.43,NaN,NaN,137,87,NaN,30.47,0.0,0.5,0.00,0.0,0.3,33.77,2.5
3007288,NaN,2020-03-31 23:57:00,2020-04-01 00:26:00,NaN,13.21,NaN,NaN,137,71,NaN,37.97,0.0,0.5,0.00,0.0,0.3,41.27,2.5
3007289,NaN,2020-03-31 23:22:01,2020-03-31 23:43:52,NaN,12.14,NaN,NaN,137,32,NaN,37.10,0.0,0.0,0.00,0.0,0.3,39.90,2.5
3007290,NaN,2020-03-31 23:18:53,2020-03-31 23:32:21,NaN,7.01,NaN,NaN,137,159,NaN,20.07,0.0,0.0,0.00,0.0,0.3,22.87,2.5
3007291,NaN,2020-03-31 23:11:00,2020-03-31 23:30:00,NaN,6.31,NaN,NaN,185,69,NaN,23.40,0.0,0.5,0.00,0.0,0.3,24.20,0.0

In [6]:
df4 = pd.read_csv('2020\April\yellow_tripdata_2020-04.csv',low_memory=False)
df4

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-04-01 00:41:22,2020-04-01 01:01:53,1.0,1.20,1.0,N,41,24,2.0,5.50,0.5,0.5,0.00,0.00,0.3,6.80,0.0
1,1.0,2020-04-01 00:56:00,2020-04-01 01:09:25,1.0,3.40,1.0,N,95,197,1.0,12.50,0.5,0.5,2.75,0.00,0.3,16.55,0.0
2,1.0,2020-04-01 00:00:26,2020-04-01 00:09:25,1.0,2.80,1.0,N,237,137,1.0,10.00,3.0,0.5,1.00,0.00,0.3,14.80,2.5
3,1.0,2020-04-01 00:24:38,2020-04-01 00:34:38,0.0,2.60,1.0,N,68,142,1.0,10.00,3.0,0.5,1.00,0.00,0.3,14.80,2.5
4,2.0,2020-04-01 00:13:24,2020-04-01 00:18:26,1.0,1.44,1.0,Y,263,74,1.0,6.50,0.5,0.5,3.00,0.00,0.3,13.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237988,NaN,2020-04-30 19:47:00,2020-04-30 20:07:00,NaN,10.41,NaN,NaN,42,3,NaN,28.82,0.0,0.5,0.00,0.00,0.3,29.62,0.0
237989,NaN,2020-04-30 19:34:00,2020-04-30 19:39:00,NaN,0.93,NaN,NaN,42,74,NaN,5.05,0.0,0.5,0.00,0.00,0.3,5.85,0.0
237990,NaN,2020-04-30 19:58:14,2020-04-30 20:03:47,NaN,2.44,NaN,NaN,137,4,NaN,8.09,0.0,0.0,0.00,0.00,0.3,10.89,2.5
237991,NaN,2020-04-30 19:35:15,2020-04-30 19:56:51,NaN,6.68,NaN,NaN,137,198,NaN,22.42,0.0,0.5,0.00,6.12,0.3,31.84,2.5
237992,NaN,2020-04-30 19:27:47,2020-04-30 19:45:00,NaN,4.35,NaN,NaN,36,65,NaN,16.41,0.0,0.5,0.00,0.00,0.3,17.21,0.0

In [5]:
df6 = pd.read_csv('2020\June\yellow_tripdata_2020-06.csv',low_memory=False)
df6

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-06-01 00:31:23,2020-06-01 00:49:58,1.0,3.60,1.0,N,140,68,1.0,15.50,3.0,0.5,4.00,0.00,0.3,23.30,2.5
1,1.0,2020-06-01 00:42:50,2020-06-01 01:04:33,1.0,5.60,1.0,N,79,226,1.0,19.50,3.0,0.5,2.00,0.00,0.3,25.30,2.5
2,1.0,2020-06-01 00:39:51,2020-06-01 00:49:09,1.0,2.30,1.0,N,238,116,2.0,10.00,0.5,0.5,0.00,0.00,0.3,11.30,0.0
3,1.0,2020-06-01 00:56:13,2020-06-01 01:11:38,1.0,5.30,1.0,N,141,116,2.0,17.50,3.0,0.5,0.00,0.00,0.3,21.30,2.5
4,1.0,2020-06-01 00:16:41,2020-06-01 00:29:30,1.0,4.40,1.0,N,186,75,1.0,14.50,3.0,0.5,3.65,0.00,0.3,21.95,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549755,NaN,2020-06-30 23:05:00,2020-06-30 23:32:00,NaN,12.96,NaN,NaN,17,69,NaN,32.91,0.0,0.5,2.75,6.12,0.3,42.58,0.0
549756,NaN,2020-06-30 23:21:47,2020-06-30 23:25:24,NaN,0.36,NaN,NaN,41,41,NaN,11.45,0.0,0.5,2.75,0.00,0.3,15.00,0.0
549757,NaN,2020-06-30 23:34:00,2020-06-30 23:44:00,NaN,2.36,NaN,NaN,242,81,NaN,18.45,0.0,0.5,2.75,0.00,0.3,22.00,0.0
549758,NaN,2020-06-30 23:22:47,2020-06-30 23:42:01,NaN,5.50,NaN,NaN,14,118,NaN,15.90,0.0,0.5,6.23,12.24,0.3,35.17,0.0
549759,NaN,2020-06-30 23:56:18,2020-07-01 00:27:19,NaN,9.59,NaN,NaN,61,137,NaN,29.68,0.0,0.5,0.00,0.00,0.3,32.98,2.5

In [9]:
df7 = df1.append(df2)
df7

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.00,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.00,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.00,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.50,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.50,0.5,0.00,0.0,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299349,NaN,2020-02-28 14:28:00,2020-02-28 14:54:00,NaN,8.60,NaN,NaN,259,247,NaN,30.81,2.75,0.5,0.00,0.0,0.3,34.36,0.0
6299350,NaN,2020-02-28 14:03:00,2020-02-28 14:11:00,NaN,3.01,NaN,NaN,212,31,NaN,22.59,2.75,0.5,0.00,0.0,0.3,26.14,0.0
6299351,NaN,2020-02-28 14:55:00,2020-02-28 15:02:00,NaN,0.71,NaN,NaN,42,42,NaN,13.43,2.75,0.5,0.00,0.0,0.3,16.98,0.0
6299352,NaN,2020-02-28 14:29:00,2020-02-28 14:51:00,NaN,12.40,NaN,NaN,38,53,NaN,30.54,2.75,0.5,0.00,0.0,0.3,34.09,0.0
6299353,NaN,2020-02-28 14:06:00,2020-02-28 14:38:00,NaN,6.96,NaN,NaN,226,135,NaN,30.30,2.75,0.5,0.00,0.0,0.3,33.85,0.0

In [11]:
df8 = df7.append(df3)
df8

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.5,0.5,0.00,0.0,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007287,NaN,2020-03-31 23:21:00,2020-03-31 23:33:00,NaN,5.43,NaN,NaN,137,87,NaN,30.47,0.0,0.5,0.00,0.0,0.3,33.77,2.5
3007288,NaN,2020-03-31 23:57:00,2020-04-01 00:26:00,NaN,13.21,NaN,NaN,137,71,NaN,37.97,0.0,0.5,0.00,0.0,0.3,41.27,2.5
3007289,NaN,2020-03-31 23:22:01,2020-03-31 23:43:52,NaN,12.14,NaN,NaN,137,32,NaN,37.10,0.0,0.0,0.00,0.0,0.3,39.90,2.5
3007290,NaN,2020-03-31 23:18:53,2020-03-31 23:32:21,NaN,7.01,NaN,NaN,137,159,NaN,20.07,0.0,0.0,0.00,0.0,0.3,22.87,2.5
3007291,NaN,2020-03-31 23:11:00,2020-03-31 23:30:00,NaN,6.31,NaN,NaN,185,69,NaN,23.40,0.0,0.5,0.00,0.0,0.3,24.20,0.0

In [12]:
df9 = df8.append(df4)
df9

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.0,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.0,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.0,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.5,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.5,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237988,NaN,2020-04-30 19:47:00,2020-04-30 20:07:00,NaN,10.41,NaN,NaN,42,3,NaN,28.82,0.0,0.5,0.00,0.00,0.3,29.62,0.0
237989,NaN,2020-04-30 19:34:00,2020-04-30 19:39:00,NaN,0.93,NaN,NaN,42,74,NaN,5.05,0.0,0.5,0.00,0.00,0.3,5.85,0.0
237990,NaN,2020-04-30 19:58:14,2020-04-30 20:03:47,NaN,2.44,NaN,NaN,137,4,NaN,8.09,0.0,0.0,0.00,0.00,0.3,10.89,2.5
237991,NaN,2020-04-30 19:35:15,2020-04-30 19:56:51,NaN,6.68,NaN,NaN,137,198,NaN,22.42,0.0,0.5,0.00,6.12,0.3,31.84,2.5
237992,NaN,2020-04-30 19:27:47,2020-04-30 19:45:00,NaN,4.35,NaN,NaN,36,65,NaN,16.41,0.0,0.5,0.00,0.00,0.3,17.21,0.0

In [13]:
df10 = df9.append(df4)
df10

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.0,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.0,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.0,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.5,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.5,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237988,NaN,2020-04-30 19:47:00,2020-04-30 20:07:00,NaN,10.41,NaN,NaN,42,3,NaN,28.82,0.0,0.5,0.00,0.00,0.3,29.62,0.0
237989,NaN,2020-04-30 19:34:00,2020-04-30 19:39:00,NaN,0.93,NaN,NaN,42,74,NaN,5.05,0.0,0.5,0.00,0.00,0.3,5.85,0.0
237990,NaN,2020-04-30 19:58:14,2020-04-30 20:03:47,NaN,2.44,NaN,NaN,137,4,NaN,8.09,0.0,0.0,0.00,0.00,0.3,10.89,2.5
237991,NaN,2020-04-30 19:35:15,2020-04-30 19:56:51,NaN,6.68,NaN,NaN,137,198,NaN,22.42,0.0,0.5,0.00,6.12,0.3,31.84,2.5
237992,NaN,2020-04-30 19:27:47,2020-04-30 19:45:00,NaN,4.35,NaN,NaN,36,65,NaN,16.41,0.0,0.5,0.00,0.00,0.3,17.21,0.0

In [14]:
df11 = df10.append(df5)
df11

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.0,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.0,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.0,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.5,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.5,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348366,NaN,2020-05-31 04:07:00,2020-05-31 04:30:00,NaN,12.66,NaN,NaN,254,143,NaN,37.19,0.0,0.5,0.00,0.00,0.3,37.99,0.0
348367,NaN,2020-05-31 04:51:20,2020-05-31 05:17:18,NaN,19.61,NaN,NaN,10,244,NaN,48.98,0.0,0.5,0.00,0.00,0.3,49.78,0.0
348368,NaN,2020-05-31 04:50:00,2020-05-31 05:08:00,NaN,9.61,NaN,NaN,4,26,NaN,31.40,0.0,0.5,0.00,0.00,0.3,32.20,0.0
348369,NaN,2020-05-31 04:23:00,2020-05-31 04:39:00,NaN,10.17,NaN,NaN,137,135,NaN,32.53,0.0,0.5,0.00,6.12,0.3,39.45,0.0
348370,NaN,2020-05-31 04:56:54,2020-05-31 05:25:14,NaN,18.70,NaN,NaN,188,23,NaN,46.91,0.0,0.5,0.00,12.24,0.3,59.95,0.0

In [15]:
df12 = df11.append(df6)
df12

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.0,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.0,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.0,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.5,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.5,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549755,NaN,2020-06-30 23:05:00,2020-06-30 23:32:00,NaN,12.96,NaN,NaN,17,69,NaN,32.91,0.0,0.5,2.75,6.12,0.3,42.58,0.0
549756,NaN,2020-06-30 23:21:47,2020-06-30 23:25:24,NaN,0.36,NaN,NaN,41,41,NaN,11.45,0.0,0.5,2.75,0.00,0.3,15.00,0.0
549757,NaN,2020-06-30 23:34:00,2020-06-30 23:44:00,NaN,2.36,NaN,NaN,242,81,NaN,18.45,0.0,0.5,2.75,0.00,0.3,22.00,0.0
549758,NaN,2020-06-30 23:22:47,2020-06-30 23:42:01,NaN,5.50,NaN,NaN,14,118,NaN,15.90,0.0,0.5,6.23,12.24,0.3,35.17,0.0
549759,NaN,2020-06-30 23:56:18,2020-07-01 00:27:19,NaN,9.59,NaN,NaN,61,137,NaN,29.68,0.0,0.5,0.00,0.00,0.3,32.98,2.5

In [16]:
df12.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,1.678538e+07,1.678538e+07,1.708577e+07,1.678538e+07,1.708577e+07,1.708577e+07,1.678538e+07,1.708577e+07,1.708577e+07,1.708577e+07,1.708577e+07,1.708577e+07,1.708577e+07,1.708577e+07,1.708577e+07
mean,1.663053e+00,1.488924e+00,3.117480e+00,1.055555e+00,1.637035e+02,1.613842e+02,1.275056e+00,1.270915e+01,1.128498e+00,5.214295e-01,2.144407e+00,3.318439e-01,2.977947e-01,1.862917e+01,2.246303e+00
std,4.726668e-01,1.133965e+00,1.703701e+02,7.966031e-01,6.617710e+01,7.044180e+01,4.793836e-01,1.931298e+02,1.209695e+02,1.209631e+02,2.702301e+00,1.698257e+00,3.546723e-02,3.096678e+02,7.763221e-01
min,1.000000e+00,0.000000e+00,-3.062000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.259000e+03,-2.700000e+01,-5.000000e-01,-4.932200e+02,-4.000000e+01,-3.000000e-01,-1.260300e+03,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.700000e-01,1.000000e+00,1.190000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.620000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.880000e+00,0.000000e+00,3.000000e-01,1.430000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,1.990000e+01,2.500000e+00
max,2.000000e+00,9.000000e+00,2.970045e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,6.711001e+05,5.000008e+05,5.000005e+05,1.100000e+03,9.255000e+02,3.000000e-01,1.000004e+06,2.750000e+00

In [17]:
df12.isnull().sum()

VendorID                 300396
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          300396
trip_distance                 0
RatecodeID               300396
store_and_fwd_flag       300396
PULocationID                  0
DOLocationID                  0
payment_type             300396
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge          0
dtype: int64

In [20]:
df13 = df12.dropna()

In [21]:
df13.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07,1.678538e+07
mean,1.663053e+00,1.488924e+00,2.814351e+00,1.055555e+00,1.642297e+02,1.619068e+02,1.275056e+00,1.242487e+01,1.129110e+00,5.233641e-01,2.170026e+00,3.085176e-01,2.977569e-01,1.836822e+01,2.279189e+00
std,4.726668e-01,1.133965e+00,7.136435e+00,7.966031e-01,6.593569e+01,7.025025e+01,4.793836e-01,1.948274e+02,1.220470e+02,1.220407e+02,2.711435e+00,1.653355e+00,3.577164e-02,3.124119e+02,7.325622e-01
min,1.000000e+00,0.000000e+00,-2.218000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.259000e+03,-2.700000e+01,-5.000000e-01,-4.932200e+02,-4.000000e+01,-3.000000e-01,-1.260300e+03,-2.500000e+00
25%,1.000000e+00,1.000000e+00,9.600000e-01,1.000000e+00,1.250000e+02,1.120000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01,2.500000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.950000e+00,0.000000e+00,3.000000e-01,1.416000e+01,2.500000e+00
75%,2.000000e+00,2.000000e+00,2.900000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.350000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,1.956000e+01,2.500000e+00
max,2.000000e+00,9.000000e+00,2.254399e+04,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,6.711001e+05,5.000008e+05,5.000005e+05,1.100000e+03,9.255000e+02,3.000000e-01,1.000004e+06,2.750000e+00

In [22]:
df13.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [23]:
df13

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499038,2.0,2020-06-30 23:07:00,2020-06-30 23:08:46,1.0,1.06,1.0,N,74,194,2.0,5.0,0.5,0.5,0.00,6.12,0.3,12.42,0.0
499039,2.0,2020-06-30 23:24:49,2020-06-30 23:32:00,1.0,1.52,1.0,N,138,70,1.0,7.5,0.5,0.5,1.76,0.00,0.3,10.56,0.0
499040,2.0,2020-06-30 23:57:38,2020-07-01 00:24:57,1.0,13.36,1.0,N,138,259,2.0,37.5,0.5,0.5,0.00,6.12,0.3,44.92,0.0
499041,2.0,2020-06-30 23:08:03,2020-06-30 23:26:37,1.0,2.23,1.0,N,41,41,2.0,13.5,0.5,0.5,0.00,0.00,0.3,14.80,0.0
499042,2.0,2020-06-30 23:06:50,2020-06-30 23:14:27,1.0,1.43,1.0,N,263,239,1.0,7.5,0.5,0.5,2.83,0.00,0.3,14.13,2.5